<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Crime in the City by the Bay</title>
  <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="shortcut icon" type="../static/extra/" href="if_Police_2667287.png"/>
  <link rel="shortcut icon" type="image/png" href="http://example.com/favicon.png"/>  

  <!--Home Page CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    
  <!-- Leaflet JS & CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>


  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Marker Cluster JS & CSS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  <!-- Google Places API -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&sensor=false"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/place/nearbysearch/json&key=AIzaSyCXa_2ZFy88_imw8zXpItAunCGoyEyWcLE"></script>

</head>

<body>

    <div class="panel panel-default">
        <div class="panel-heading">
          <font face="courier" color="red">
          <center><h3 class="panel-title" font="roboto">Where does crime happen in SF?</h3></center>
          </font>
        </div>
    </div>

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>

    <div id="post-it">
            <b>Search values:</b>
            <br /> Google Places search box
            <br />
            <small><a href="https://developers.google.com/maps/documentation/javascript/examples/places-searchbox">places-searchbox</a></small>
          </div>
   
<script>
 
        // var mapbox_url = "/api/mapbox/dark"
        // Add base layer
        var base = L.tileLayer("https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiaHAtbnVuZXMiLCJhIjoiY2pqNHAxaHIxMDA3aTNrbW15OGx2NW4ybiJ9.pHzT2FAtpO-Xhnc3PzJsFA");
    
        // Set variables for our endpoints to grab the data
        var url = "/api/crimedata/sfgrid";
        var assault_url = "/api/crimedata/2018/assault";
        var vandalism_url = "/api/crimedata/2018/vandalism";
        var theft_url = "/api/crimedata/2018/theft";
        var linesBART_url = "/api/crimedata/sfBARTlines";
        var stationsBART_url = "/api/crimedata/sfBARTstations";
    
       
    ////////////////////////////////////
    //Create Marker Clusters for Assault
    ////////////////////////////////////
    var assaultMarkers = [];
    d3.json(assault_url, function(response) {
    
        // Creating a new marker cluster group
        var markers = L.markerClusterGroup();
    
        // Loop through our data...
        for (var i = 0; i < response.length; i++) {
        // set the data location property to a variable
    
        // Add a new marker to the cluster group and bind a pop-up
            // markers.addLayer(L.marker([response[i].Y, response[i].X])
            // .bindPopup(response[i].Descript));
            assaultMarkers.push(
                markers.addLayer(L.marker([response[i].Y, response[i].X]).bindPopup( '<b>' + response[i].Descript + '</b>' + '<br>' + response[i].Date +
                '<br>' + response[i].Address + '<br>' + 'Action taken by SFPD: ' + response[i].Resolution))
            );
    
        }
    
    
        ////////////////////////////////////
        //Create Marker Clusters for Vandalism
        ////////////////////////////////////
        var vandalismMarkers = [];
        d3.json(vandalism_url, function(response) {
    
            // Creating a new marker cluster group
            var vmarkers = L.markerClusterGroup();
            // Loop through our data...
            for (var i = 0; i < response.length; i++) {
            // set the data location property to a variable
    
            // Add a new marker to the cluster group and bind a pop-up
                // markers.addLayer(L.marker([response[i].Y, response[i].X])
                // .bindPopup(response[i].Descript));
                vandalismMarkers.push(
                    vmarkers.addLayer(L.marker([response[i].Y, response[i].X]).bindPopup( '<b>' + response[i].Descript + '</b>' + '<br>' + response[i].Date +
                   '<br>' + response[i].Address + '<br>' + 'Action taken by SFPD: ' + response[i].Resolution))
                );
            }
    
    
            ///////////////////////////////////
            //Create Marker Clusters for Theft/Larceny
            ////////////////////////////////////
            var theftMarkers = [];
            d3.json(theft_url, function(response) {
    
                // Creating a new marker cluster group
                var markers = L.markerClusterGroup();
    
                // Loop through our data...
                for (var i = 0; i < response.length; i++) {
                // set the data location property to a variable
    
                // Add a new marker to the cluster group and bind a pop-up
                    // markers.addLayer(L.marker([response[i].Y, response[i].X])
                    // .bindPopup(response[i].Descript));
                    theftMarkers.push(
                        markers.addLayer(L.marker([response[i].Y, response[i].X]).bindPopup( '<b>' + response[i].Descript + '</b>' + '<br>' + response[i].Date +
                   '<br>' + response[i].Address + '<br>' + 'Action taken by SFPD: ' + response[i].Resolution))
                    );
    
                }
    
                // console.log(theftMarkers);
                var assaultLayer = L.layerGroup(assaultMarkers);
                var vandalismLayer = L.layerGroup(vandalismMarkers);
                var theftLayer = L.layerGroup(theftMarkers);
                
                //Create the layers 
                var baseMaps = {
                    "San Francisco": base
                };
                
                var overlayMaps = {
                    //"SF Neighborhoods": sflayer,
                    Assault: assaultLayer,
                    Vandalism: vandalismLayer,
                    Theft:theftLayer
    
                };
                
                //Create the map
                var map = L.map("map", {
                center: [37.77397, -122.43129],
                zoom: 11,
                layers: [base, assaultLayer, vandalismLayer,theftLayer]
                });

        ///////////////////////
        //Create searchbox
        ///////////////////////

    var GoogleSearch = L.Control.extend({
      onAdd: function() {
        var element = document.createElement("input");

        element.id = "searchBox";

        return element;
      }
    });

    (new GoogleSearch).addTo(map);
    var input = document.getElementById("searchBox");

    var searchBox = new google.maps.places.SearchBox(input);

    searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
        return;
    }

    var group = L.featureGroup();

    places.forEach(function(place) {

        // Create a marker for each place.
        console.log(places);
        console.log(place.geometry.location.lat() + " / " + place.geometry.location.lng());
        var marker = L.marker([
        place.geometry.location.lat(),
        place.geometry.location.lng()
        ]);
        group.addLayer(marker);
    });

    group.addTo(map);
    map.fitBounds(group.getBounds());

    });

        
                
    ///////////////////////
    //Create SF Grid
    //////////////////////
                d3.json(url, function(assault_data) {
                    L.geoJson(assault_data, {
                        // Style each feature (in this case a neighborhood)
                        style: function(feature) {
                            console.log(feature)
                            return {
                                fillColor: 'grey',
                                fillOpacity: 0.2,
                                color: 'rgba(255,255,255,0.4)',
                                lineWidth: 0.1

                            };
                        },
                            // Called on each feature
                        onEachFeature: function(feature, layer) {
                        // Set mouse events to change map styling
                            layer.on({
                                // When a user's mouse touches a map feature, the mouseover event calls this function, that feature's opacity changes to 90% so that it stands out
                                mouseover: function(event) {
                                layer = event.target;
                                console.log(layer);
                                layer.setStyle({
                                    fillOpacity: 0.5,
                                color: "255,255,255, 0.5"
                                });
                                },
                                // When the cursor no longer hovers over a map feature - when the mouseout event occurs - the feature's opacity reverts back to 50%
                                mouseout: function(event) {
                                layer = event.target;
                                console.log(layer);
                                layer.setStyle({
                                    fillOpacity: 0.5,
                                color: "255,255,255, 0.5"
                                });
                                },
                                // When a feature (neighborhood) is clicked, it is enlarged to fit the screen
                                click: function(event) {
                                console.log(event.target);
                                map.fitBounds(event.target.getBounds());
                                }
                            });
                            // Giving each feature a pop-up with information pertinent to it
                            //layer.setStyle({'color': 'white'})
                            layer.bindPopup("<h1>" + feature.properties.name + "</h1>");
                        }
                    }).addTo(map);
    
    ///////////////////////
    // Add BART features to map
    //////////////////////
                d3.json(linesBART_url, function(response) {
                            L.geoJson(response, {
                                style: function(feature) {
                                    return {
                                               color: 'red',
                                                fillOpacity: 1,
                                                weight: 1.5
                                                }
                                                        }
                    }).addTo(map);

                    d3.json(stationsBART_url, function(response) {
                            L.geoJson(response, {
                                style: function(feature) {
                                    return {
                                               color: 'red',
                                                fillOpacity: 1,
                                                weight: 1.5,
                                                size: 5
                                                }
                                                        }
                    }).addTo(map);
                    
                    //Add the layers to the map
                    L.control.layers(baseMaps, overlayMaps).addTo(map);
                        });
                    });
                });
            });
        });
    });

</script>
    
</body>

</html>